In [1]:
import string

In [7]:
print(500 + 20)
print(500 - 20)
print(500 * 20)
print(500 / 20)
print(500 // 20)
print(500 % 20)
print(20 ** 50)

520
480
10000
25.0
25
0
112589990684262400000000000000000000000000000000000000000000000000

In [6]:
# Create the number objects
a = 1
b = -1
c = 1.0
d = -1.0
e = +2e3
f = -2e3
g = 3.14j
h = -3.14j

# Print the numbers and types (we also use a 'tab' character ("\t") - just to align them)
print(type(a), "\t\t", a)
print(type(b), "\t\t", b)
print(type(c), "\t", c)
print(type(d), "\t\t", d)
print(type(e), "\t", e)
print(type(f), "\t\t\t", f)
print(type(g), "\t", g)
print(type(h), "\t", h)

<class 'int'> 		 1
<class 'int'> 		 -1
<class 'float'> 	 1.0
<class 'float'> 		 -1.0
<class 'float'> 	 2000.0
<class 'float'> 			 -2000.0
<class 'complex'> 	 3.14j
<class 'complex'> 	 (-0-3.14j)

In [8]:
a = 7
print("Low" if a < 10 else "High")

Low

In [9]:
a = 7
print("Low" if a > 10 else "High")

High

In [2]:
# use tab to list the functions of string and list. e.g. a.press tab
sd = "continental"
sd

'continental'

In [ ]:

a="nasim"
a.capitalize()

In [ ]:
print(a.capitalize())

In [ ]:
print(a.casefold())

In [ ]:
a = [1,3,5,7,9]
a.append

In [ ]:
print(a.strip())

In [ ]:
print(a.center(0))

In [ ]:
print(a.encode)

In [ ]:
print(a)

In [3]:
a=5
b=6
print(a**b)

15625

In [7]:
import string

In [8]:
a = 5
print(a.conjugate)

<built-in method conjugate of int object at 0x00007FFB655DA210>

In [ ]:
import string
a = "nasim"
b=str(a)
print(a.capitalize())

In [13]:
# Find out the cost of a rectangular field with breadth(b=120), length(l=160). It costs x (2000) rupees per 1 square unit

class Rectangle:
   def __init__(aaa, length, breadth, unit_cost=0):
       aaa.length = length
       aaa.breadth = breadth
       aaa.unit_cost = unit_cost
   def get_area(aaa):
       return aaa.length * aaa.breadth
   def calculate_cost(aaa):
       area = self.get_aaa()
       return area * aaa.unit_cost
# breadth = 120 units, length = 160 units, 1 sq unit cost = Rs 2000
r = Rectangle(160, 120, 2000)
print("Area of Rectangle: %s sq units" % (r.get_area()))

Area of Rectangle: 19200 sq units

In [16]:
# Find out the cost of a rectangular field with breadth(b=120), length(l=160). It costs x (2000) rupees per 1 square unit

# class Rectangle:
    a = int(input(length))
    b = int(input(breadth))
    c = int(input(unit_cost))
    print("Length =",a,"Breadth =",b,"Unit cost/ft^2 =",c)
    Area = a * b
    print("Area of the Rectangle =",Area)
    Total_Cost = Area * c
    print(Total_Cost, "Rupees")

IndentationError: unexpected indent (<ipython-input-16-92f8b529c2ee>, line 4)